<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="LOG_PATTERN">%style{[%d{yyyy-MM-dd HH:mm:ss}]}{cyan} %highlight{[%-5level]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue}  %style{[%t]}{yellow} [%C] - %m %n</Property>
    </Properties>

    <!-- 콘솔 로그 설정 -->
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="spring.demo" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="info">
            <AppenderRef ref="CONSOLE"/>
        </root>
    </Loggers>
</Configuration>